/*
	author: ayoayco
*/

html, body{
    height: 100%;
    width: 100%
}

#bodywrap{
    height: 100%;
    position: relative;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: -50px;
}

#header{
    margin-top: -3px;
}

#map {
    height: 100%;
    position: relative;
    margin-top: -20px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

#footer{
    height: 50px;
    text-align: center;
    line-height: 40px;
}